.checkout-form-card {
    max-width: 30vw;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
    padding: 1rem;
}
.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
