<mat-card class="product-item-card">
    <mat-card-title class="card-title">
        <h1>{{ product.name }}</h1>
    </mat-card-title>
    <img
        mat-card-lg-image
        class="product-img"
        src="{{ product.url }}"
        alt="{{ product.name }} image"
    />
    <mat-card-content>
        <p>
            {{ product.description }}
        </p>
        <p>${{ product.price }}</p>
        <p>
            {{ product.quantity }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/cart">
            <button
                mat-raised-button
                color="primary"
                (click)="addProduct(product)"
            >
                Add to Cart
            </button>
        </a>
    </mat-card-actions>
</mat-card>
