<mat-card class="product-item-card">
    <mat-card-title class="card-title">
        <h1>{{ product.name }}</h1>
    </mat-card-title>
    <img
        mat-card-lg-image
        class="product-img"
        src="{{ product.url }}"
        alt="{{ product.name }} image"
    />
    <mat-card-content>
        <p>
            {{ product.description }}
        </p>
        <p>${{ product.price }}</p>
        <div class="incrementer">
            <button mat-icon-button color="accent" (click)="decrement(product)">
                <i class="material-icons">remove_circle_outline</i>
            </button>
            qty: {{ product.quantity }}
            <button mat-icon-button color="accent" (click)="increment(product)">
                <i class="material-icons">add_circle_outline</i>
            </button>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addProduct(product)">
            Add to Cart
        </button>
    </mat-card-actions>
</mat-card>
