<mat-card *ngFor="let item of productsInCart" class="product-item-card">
    <mat-card-title class="card-title">
        <h1>{{ item.name }}</h1>
    </mat-card-title>
    <img
        mat-card-lg-image
        class="product-img"
        src="{{ item.url }}"
        alt="{{ item.name }} image"
    />
    <mat-card-content>
        <p>
            {{ item.description }}
        </p>
        <p>${{ item.price }}</p>
        <div class="incrementer">
            <button mat-icon-button color="accent" (click)="decrement(item)">
                <i class="material-icons">remove_circle_outline</i>
            </button>
            qty: {{ item.quantity }}
            <button mat-icon-button color="accent" (click)="increment(item)">
                <i class="material-icons">add_circle_outline</i>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="product-item-card">
    <p>Total: {{ cartTotal }}</p>
</mat-card>
